* {
  padding: 0;
  margin: 0;
}

h1 {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 58px;
  margin-bottom: 15px;
}

h2 {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 40px;
  margin-bottom: 15px;
}

h3 {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 30px;
  margin-bottom: 15px;
}

p {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 23px;
  line-height: 30px;
  margin-bottom: 15px;
}

/*----------------------------------------------------------------------------- Global Colors */
.header__section,
.text__section,
.recension,
.subscribe__section,
.navigation__section {
  background-color: #5ffdb4;
  color: #ffffff;
}

.body {
  color: #1d1d1d;
}

/*----------------------------------------------------------------------------- Sections */

.navigation__section {
  padding: 10px 50px 0px 50px;
}

.header__section {
  padding: 10px 50px 70px 50px;
  height: 80vh;
}

.symbol__section {
  padding: 30px 50px 30px 50px;
}

.product__section {
  background-color: #f8f8f8;
  padding: 70px 50px 70px 50px;
  text-align: center;
  margin: auto;
}

.text__section {
  padding: 100px 50px 100px 50px;
}

.recension__section {
  padding: 100px 50px 100px 50px;
}

.subscribe__section {
  padding: 100px 50px 100px 50px;
}

.footer__section {
  background-color: rgb(64, 73, 95);
  color: #ffffff;
  padding: 30px 50px 30px 50px;
}

/*----------------------------------------------------------------------------- Navigation Content */

.navigation__grid {
  height: 100%;
  width: 1300px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.logo,
.navigationbar {
  width: 80%;
  margin: auto;
}

.navigationbar {
  text-align: right;
  justify-content: center;
  align-items: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline;
}

.navigationbar a {
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-decoration: none;
  font-weight: bold;
  font-size: 15px;
  padding: 0px 20px 0px 20px;
  text-transform: uppercase;
}

/*----------------------------------------------------------------------------- Header Content */

.header__grid {
  height: 100%;
  width: 1300px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.header__text,
.header__img {
  width: 80%;
  margin: auto;
}

.header__img {
  text-align: center;
}

#downloadh3 {
  margin-top: 80px;
}
/*----------------------------------------------------------------------------- Symbol Content */
.symbol__grid {
  width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.symbols {
  text-align: center;
  margin: auto;
  align-items: center;
}

.symbols h1,
.symbols h3,
.symbols p {
  margin-bottom: 0px;
}

/*----------------------------------------------------------------------------- Product Content */

.product__section h1,
.product__section p {
  width: 60%;
  margin: auto;
  margin-bottom: 100px;
}

.product__grid {
  display: grid;
  width: 1200px;
  margin: auto;
  margin-top: 30px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.product img {
  width: 170px;
}

.product h3 {
  font-size: 25px;
}

.product p {
  width: 100%;
  font-size: 20px;
}

/*----------------------------------------------------------------------------- Text Content */

.text__content {
  width: 70%;
  margin: auto;
  text-align: center;
}

.recension__grid {
  width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-evenly;
}

.recension {
  width: 80%;
  margin: auto;
  padding: 20px 15px 20px 15px;
  border-radius: 10px;
  text-align: center;
}

.quotation {
  text-align: center;
}

/*----------------------------------------------------------------------------- Subscribe Content */

.subscribe__grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 1200px;
  margin: auto;
}

#email {
  width: 60%;
  height: 45px;
  border-radius: 5px;
  border-style: none;
  padding-left: 10px;
  margin-right: 15px;
  outline: none;

  font-size: 15px;
}

#subscribe__btn {
  background-color: rgb(46, 54, 74);
  color: #ffffff;
  height: 45px;
  width: 20%;
  border-radius: 5px;
  border-style: none;
  margin-right: 15px;

  font-size: 15px;
  font-weight: bold;
}

#subscribe__btn:hover {
  background-color: rgb(64, 73, 95);
  cursor: pointer;
}

.download__app {
  margin-top: 100px;
}

.subscribe__img {
  text-align: center;
}

.subscribe__img img {
  width: 40%;
}

/*----------------------------------------------------------------------------- Footer Content */

.footer__grid {
  width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-content: center;
}

.socials h3 {
  margin-bottom: 0;
}

.copyright {
  text-align: right;
  align-content: center;
  justify-content: center;
  margin-top: 15px;
}

.copyright p {
  font-size: 15px;
  margin-bottom: 0;
}

.fa {
  background-color: #5ffdb4;
  color: rgb(64, 73, 95);
  padding: 15px;
  height: 30px;
  width: 30px;
  text-align: center;
  justify-content: center;
  text-decoration: none;
  border-radius: 50%;
  margin-right: 5px;
}
